rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Użytkownicy: Każdy może czytać, ale tylko właściciel może aktualizować swój profil.
    match /users/{userId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Kategorie: Każdy może czytać, pisać mogą tylko admini.
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Okazje (Deals): Każdy może czytać. Tworzenie zablokowane (przez Cloud Function). Edycja/Usuwanie tylko przez autora.
    match /deals/{dealId} {
      allow read: if true;
      allow create: if false; // ZABLOKOWANE! Używamy funkcji 'createDeal'
      allow update, delete: if request.auth != null && resource.data.authorId == request.auth.uid;
    }

    // PRODUKTY: Każdy może czytać. Zapis zablokowany (będzie przez Panel Admina).
    match /products/{productId} {
      allow read: if true;
      allow write: if false;
    }

    // Komentarze: Każdy może czytać. Tworzyć mogą tylko zalogowani. Edycja/Usuwanie tylko przez autora.
    match /comments/{commentId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.authorId == request.auth.uid;
    }

    // Głosy: Każdy może czytać. Zapis tylko dla właściciela głosu.
    match /deals/{dealId}/votes/{userId} {
       allow read: if true;
       allow create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}